<div class="row">
  <div class="panel panel-info">
    <!--HEADING-->
    <div class="panel-heading">
      <!--ADD SERVER INPUT GROUP-->
      <div class="input-group">
        <!--TWOWAY DATA BINDED INPUT-->
        <input type="text"
               class="form-control"
               placeholder="Two-way data binded server name"
               [(ngModel)]="serverName">
        <!--ADD BUTTON-->
        <span class="input-group-btn">
          <button class="btn btn-primary"
                  [disabled]="serverName === ''"
                  (click)="onAddServer()">
            Add {{serverName}} server
          </button>
        </span>
      </div>
    </div>
    <!--PANEL BODY / LIST ITEMS-->
    <ul class="list-group">
      <li class="list-group-item"
          *ngIf="serverCreated">
        {{serverAddStatus}}
      </li>
      <!--DYNAMIC SERVER LIST ITEMS-->
      <app-server *ngFor="let s of servers"></app-server>
    </ul>
  </div>
</div>
